src/main/resources/despatchadvice.xsd

<!--
This code was generated by a tool.
Changes to this file may cause incorrect behavior and will be lost if the code is regenerated.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:msxsl="urn:schemas-microsoft-com:xslt"
           xmlns:tns="http://deliverapp.be/despatchadvice"
           xmlns="http://deliverapp.be/despatchadvice"
           targetNamespace="http://deliverapp.be/despatchadvice">
  <xs:element name="getQRBinaryContentRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="despatchAdvice" type="DespatchAdvice"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="getQRBinaryContentResponse">
    <xs:complexType>
      <xs:all>
        <xs:element name="hex" type="xs:string"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="getQRImageRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="size" type="xs:int"/>
        <xs:element name="despatchAdvice" type="DespatchAdvice"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="getQRImageResponse">
    <xs:complexType>
      <xs:all>
        <xs:element name="base64" type="xs:string"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <!--Generated from: google/protobuf/timestamp.proto-->
  <!--Namespace: google.protobuf-->
  <xs:complexType name="google.protobuf.Timestamp">
    <xs:all />
    <xs:attribute name="seconds" use="optional" type="xs:long" />
    <xs:attribute name="nanos" use="optional" type="xs:int" />
  </xs:complexType>
  <!--Generated from: src/main/proto/be/covisionit/deliverapp/despatchadvice.proto-->
  <!--Namespace: src/main/proto/be/covisionit/deliverapp/despatchadvice-->
  <xs:complexType name="Address">
    <xs:all />
    <xs:attribute name="ID" use="optional" type="xs:string" />
    <xs:attribute name="StreetName" use="optional" type="xs:string" />
    <xs:attribute name="AdditionalStreetName" use="optional" type="xs:string" />
    <xs:attribute name="CityName" use="optional" type="xs:string" />
    <xs:attribute name="PostalZone" use="optional" type="xs:string" />
    <xs:attribute name="CountrySubentity" use="optional" type="xs:string" />
    <xs:attribute name="Country" use="optional" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Consignment">
    <xs:all>
      <xs:element name="CarrierParty" type="Party" minOccurs="0" />
    </xs:all>
    <xs:attribute name="ID" use="optional" type="xs:string" />
    <xs:attribute name="Information" use="optional" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Contact">
    <xs:all />
    <xs:attribute name="Name" use="optional" type="xs:string" />
    <xs:attribute name="Telephone" use="optional" type="xs:string" />
    <xs:attribute name="Telefax" use="optional" type="xs:string" />
    <xs:attribute name="ElectronicMail" use="optional" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Delivery">
    <xs:all>
      <xs:element name="Despatch" type="Despatch" minOccurs="0" />
      <xs:element name="DeliveryLocation" type="Location" minOccurs="0" />
    </xs:all>
    <xs:attribute name="TrackingID" use="optional" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DeliveryCustomerParty">
    <xs:all>
      <xs:element name="Party" type="Party" minOccurs="0" />
      <xs:element name="DeliveryContact" type="Contact" minOccurs="0" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="DeliveryNoteReceptionPreferences">
    <xs:all>
      <xs:element name="emailPreferences" type="DeliveryNoteReceptionPreferences.EmailPreferences" minOccurs="0" />
      <xs:element name="endpointPreferences" type="DeliveryNoteReceptionPreferences.EndpointPreferences" minOccurs="0" />
    </xs:all>
  </xs:complexType>
  <xs:simpleType name="DeliveryNoteReceptionPreferences.DeliveryNoteFormat">
    <xs:restriction base="xs:string">
      <xs:enumeration value="JSON" />
      <xs:enumeration value="PEPPOL" />
      <xs:enumeration value="UBL" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DeliveryNoteReceptionPreferences.EmailPreferences">
    <xs:all />
    <xs:attribute name="active" use="optional" type="xs:boolean" />
    <xs:attribute name="format" use="optional" type="DeliveryNoteReceptionPreferences.DeliveryNoteFormat" />
    <xs:attribute name="emailAddress" use="optional" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DeliveryNoteReceptionPreferences.EndpointPreferences">
    <xs:all />
    <xs:attribute name="active" use="optional" type="xs:boolean" />
    <xs:attribute name="format" use="optional" type="DeliveryNoteReceptionPreferences.DeliveryNoteFormat" />
    <xs:attribute name="url" use="optional" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Despatch">
    <xs:all>
      <xs:element name="ActualDespatchTimestamp" type="google.protobuf.Timestamp" minOccurs="0" />
      <xs:element name="DespatchAddress" type="Address" minOccurs="0" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="DespatchAdvice">
    <xs:all>
      <xs:element name="OrderReference" type="OrderReference" minOccurs="0" />
      <xs:element name="DespatchSupplierParty" type="DespatchSupplierParty" minOccurs="0" />
      <xs:element name="DeliveryCustomerParty" type="DeliveryCustomerParty" minOccurs="0" />
      <xs:element name="Shipment" type="Shipment" minOccurs="0" />
      <xs:element name="DespatchLines">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="DespatchLine" type="DespatchLine" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Status" type="DespatchAdviceStatus" minOccurs="0" />
      <xs:element name="Notes">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Note" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="ID" use="optional" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DespatchAdviceStatus">
    <xs:all />
    <xs:attribute name="Name" use="optional" type="DespatchAdviceStatus.DespatchAdviceStatusName" />
    <xs:attribute name="Remarks" use="optional" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="DespatchAdviceStatus.DespatchAdviceStatusName">
    <xs:restriction base="xs:string">
      <!--ACCEPTED:-->
      <xs:enumeration value="0" />
      <!--REFUSED:-->
      <xs:enumeration value="1" />
      <!--REMARKS:-->
      <xs:enumeration value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DespatchLine">
    <xs:all>
      <xs:element name="Item" type="Item" minOccurs="0" />
    </xs:all>
    <xs:attribute name="ID" use="optional" type="xs:string" />
    <xs:attribute name="Note" use="optional" type="xs:string" />
    <xs:attribute name="DeliveredQuantity" use="optional" type="xs:double" />
    <xs:attribute name="DeliveredQuantityUnitCode" use="optional" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DespatchSupplierParty">
    <xs:all>
      <xs:element name="Party" type="Party" minOccurs="0" />
      <xs:element name="deliveryNoteReceptionPreferences" type="DeliveryNoteReceptionPreferences" minOccurs="0" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="DocumentReference">
    <xs:all />
    <xs:attribute name="ID" use="optional" type="xs:string" />
    <xs:attribute name="DocumentType" use="optional" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:all>
      <xs:element name="ManufactureDate" type="google.protobuf.Timestamp" minOccurs="0" />
    </xs:all>
    <xs:attribute name="Description" use="optional" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Location">
    <xs:all>
      <xs:element name="LocationCoordinate" type="LocationCoordinate" minOccurs="0" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="LocationCoordinate">
    <xs:all />
    <xs:attribute name="LatitudeDegreesMeasure" use="optional" type="xs:double" />
    <xs:attribute name="LongitudeDegreesMeasure" use="optional" type="xs:double" />
  </xs:complexType>
  <xs:complexType name="OrderReference">
    <xs:all />
    <xs:attribute name="ID" use="optional" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Party">
    <xs:all>
      <xs:element name="PartyIdentification" type="PartyIdentification" minOccurs="0" />
      <xs:element name="PartyName" type="PartyName" minOccurs="0" />
      <xs:element name="PostalAddress" type="Address" minOccurs="0" />
      <xs:element name="Contact" type="Contact" minOccurs="0" />
      <xs:element name="Person" type="Person" minOccurs="0" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="PartyIdentification">
    <xs:all />
    <xs:attribute name="ID" use="optional" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="PartyName">
    <xs:all />
    <xs:attribute name="Name" use="optional" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Person">
    <xs:all>
      <xs:element name="IdentityDocumentReference" type="DocumentReference" minOccurs="0" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="Shipment">
    <xs:all>
      <xs:element name="Consignment" type="Consignment" minOccurs="0" />
      <xs:element name="Delivery" type="Delivery" minOccurs="0" />
    </xs:all>
    <xs:attribute name="ID" use="optional" type="xs:string" />
  </xs:complexType>
</xs:schema>
